<div class="editProfileForm" >
  <h3>ویرایش پروفایل</h3>
  <form [formGroup] = editProfileForm (ngSubmit) = "onSubmit()" >
      <label>
        نام:
        <input type="text" formControlName = "firstname">
      </label>
      <label>
        نام خانوادگی:
        <input type="text" formControlName = "lastname">
      </label>
      <label>
        نقش:
        <input type="text" formControlName = "role" disabled>
      </label>
      <label>
        نام کاربری:
        <input type="text" formControlName = "username" disabled>
      </label>
      <label>
        رمز عبور:
        <input type="password" formControlName = "password" >
      </label>
      <label>
        تکرار رمز عبور:
        <input type="password" formControlName = "passwordAgain" >
      </label>
      <button type="submit" [disabled]="!signUpForm.valid">ویرایش</button>
  </form>
</div>