@import '../app.component.css';
div.loginForm{
    padding: 1vw;
    background-color: aqua;
    width: 30vw;
    height: 22vw;
    margin: auto;
    direction: rtl;
    text-align: center;
}
#areYouSignedUp{
    padding: 1vw 3vw;
}